@import '../../../assets/styles/mixins.scss';
#register {
  background: linear-gradient(to bottom right, #1AC7FF 0%, #00DAF5 100%);
  background: #1AC7FF; // width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .container {
    flex: 1 0 auto;
    form {
      padding: 20px 0;
      position: relative;
      z-index: 2;
      color: white;
      h1 {
        font-size: 40px;
        font-weight: 200;
      }
      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: rgba(255, 255, 255, 0.2);
        width: 300px;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 0 auto 10px auto;
        display: block;
        font-size: 18px;
        color: white;
        transition-duration: 0.25s;
        font-weight: 300;
        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
        }
        &:focus {
          background-color: white;
          width: 350px;
          color: #1AC7FF;
        }
        &:focus::-webkit-input-placeholder {
          color: #1AC7FF;
        }
        &:focus:-moz-placeholder {
          color: #1AC7FF;
        }
        &:focus::-moz-placeholder {
          color: #1AC7FF;
        }
        &:focus:-ms-input-placeholder {
          color: #1AC7FF;
        }
      }
      button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        background-color: white;
        border: 0;
        padding: 10px 15px;
        color: #1AC7FF;
        border-radius: 3px;
        width: 300px;
        cursor: pointer;
        font-size: 18px;
        &:hover {
          background-color: #f5f7f9;
        }
      }
    }
    .floating-fishes-cont {
      position: relative;
      z-index: 5;
      float: right;
      animation: swim 30s;
      -webkit-animation: swim 30s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
      .floating-fish {
        position: absolute;
        background-image: url('../../../assets/img/fish.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 60px;
        min-height: 40px;
        -moz-animation: bounce 4s infinite;
        -webkit-animation: bounce 4s infinite;
        animation: bounce 4s infinite;
        &:nth-child(1) {
          left: 2em;
        }
        &:nth-child(2) {
          margin-top: 3em;
          left: -1em;
          width: 55px;
          animation-delay: 0.5s;
          -webkit-animation-delay: 0.5s;
        }
        &:nth-child(3) {
          margin-top: 6em;
          animation-delay: 0.2s;
          -webkit-animation-delay: 0.2s;
        }
        &:nth-child(4) {
          left: 7em;
          margin-top: 2em;
          width: 45px;
          animation-delay: 0.4s;
          -webkit-animation-delay: 0.4s;
        }
        &:nth-child(5) {
          left: 7em;
          margin-top: 5em;
          width: 40px;
          animation-delay: 0.1s;
          -webkit-animation-delay: 0.1s;
        }
      }
    }
  }
  .footer {
    flex-shrink: 0;
    z-index: 2;
    background-image: url('../../../assets/img/bg-footer.png');
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: left top;
    min-height: 300px;
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #register {
    .wrapper {
      form {
        input {
          width: 250px;
          &:hover {
            width: 300px;
          }
        }
        button {
          width: 250px;
        }
      }
    }
  }
}

