<div id="register">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <form class="form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <h1>Welcome</h1>
          <input type="text" [(ngModel)]="user.username" placeholder="User name" name="username" #username/>
          <input type="email" [(ngModel)]="user.email" placeholder="Email address" name="email" #email/>
          <input type="password" [(ngModel)]="user.password" placeholder="Password" name="password" #password/>
          <button type="submit">Sign up</button>
        </form>
        <div class="floating-fishes-cont">
          <div class="floating-fish"></div>
          <div class="floating-fish"></div>
          <div class="floating-fish"></div>
          <div class="floating-fish"></div>
          <div class="floating-fish"></div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer text-center">
    <div class="container">
      <!-- <div class="rm_div" appRandomMovement></div> -->
      <h1>Hello from the other side.</h1>
    </div>
  </footer>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
