<router-outlet></router-outlet>
<div id="loading" class="d-flex justify-content-center align-items-center" *ngIf="root.loading">
<div class="icon-wrapper">
    <i class="fas fa-spinner text-primary"></i>
  </div>
</div>
