@import '../../../assets/styles/mixins.scss';
#login {
  background: linear-gradient(to bottom right, #1AC7FF 0%, #00DAF5 100%);
  background: #1AC7FF;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
  color: white;
  h1 {
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
    &:focus {
      background-color: white;
      width: 350px;
      color: #1AC7FF;
    }
    &:focus::-webkit-input-placeholder {
      color: #1AC7FF;
    }
    &:focus:-moz-placeholder {
      color: #1AC7FF;
    }
    &:focus::-moz-placeholder {
      color: #1AC7FF;
    }
    &:focus:-ms-input-placeholder {
      color: #1AC7FF;
    }
  }
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #1AC7FF;
    border-radius: 3px;
    width: 300px;
    cursor: pointer;
    font-size: 18px;
    &:hover {
      background-color: #f5f7f9;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #login {
    .wrapper {
      form {
        input {
          width: 250px;
          &:hover {
            width: 300px;
          }
        }
        button {
          width: 250px;
        }
      }
    }
  }
}
