<div id="login" class="d-flex justify-content-center align-items-center">
  <div class="wrapper text-center">
    <form class="form" (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate>
      <h1>Welcome</h1>
      <input type="email" [(ngModel)]="user.email" placeholder="Email address" name="email" #email="ngModel" email required/>
      <input type="password" [(ngModel)]="user.password" placeholder="Password" name="password" #password required/>
      <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          email is required.
        </div>
        <div *ngIf="email.errors.email">
          enter valid email.
        </div>
      </div> -->
      <button type="submit">Login</button>
    </form>
  </div>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
