$primary: #1AC7FF;
$secondary: #00DAF5;
$theme-colors: (primary: #a71930);
$theme-colors: map-merge(( "primary": $primary, "secondary": $secondary, "gray-600": #5a5a5a, "gray-100": blue), $theme-colors);
$theme-colors: ( "boi": #0F547D, "boi-dark": #013C5B);
$theme-colors: () !default;
$theme-colors: map-merge(( "light": #FFF), $theme-colors);
@import "node_modules/bootstrap/scss/bootstrap";
